.body_backgorund {
   background: gray;
}

	.login_div1 , .login_div2
	{
		background: rgb(235, 184, 16);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}

#img_earth 
{
	width: 70px;
	height: 70px;
}

#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
	background: gray;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}


